.redeemable-products-wrapper {
  max-width: 1200px !important;
}

.redeemable-container {
  display: flex;
  gap: 1rem;
}

.redeemable-percentage-input {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.redeemable-products-widget {
  display: flex;
  flex-direction: column;
}

.redeemable-products-list {
  overflow: auto; 
  height: 600px;
  width: 650px;
}

.redeemable-products-control-panel {
  width: 650px;
}